@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder,
textarea::placeholder {
  color: #d30202;
}

/* blockcore inline editor styles */

.bn-block-content[data-is-empty-and-focused]
  .bn-inline-content:has(> .ProseMirror-trailingBreak:only-child)::before {
  content: "Add note" !important;
  font-style: normal;
  font-size: 1.5rem;
}
.ProseMirror {
  font-size: 1.25rem;
}

.bn-container[data-color-scheme="light"] {
  --bn-colors-editor-background: transparent;
}

.bn-container[data-color-scheme="light"] .bn-editor * {
  font-size: 1.4rem;
}

.bn-container[data-color-scheme="light"] .bn-editor input::placeholder,
.bn-container[data-color-scheme="light"] .bn-editor textarea::placeholder {
  color: #c90000; /* Change the placeholder color directly */
}

.bn-container[data-color-scheme="light"] ::placeholder {
  color: #c90000; /* Change the placeholder color directly */
}
.bn-container[data-color-scheme="dark"] :hover {
  --bn-colors-editor-background: transparent;
}

.bn-editor[aria-autocomplete="list"] {
  padding: 0 !important;

  /* background: red; */
}

/* // target the placeholder and text it's colgor */

.bn-editor-placeholder {
  color: #ccc;
}
.bn-container {
  /* --bn-colors-editor-background: #7f7f7f; */
  --bn-color-secondary: #0f0;
  --bn-color-tertiary: #00f;
  --bn-colors-menu-background: #9b0000;
}

/* Fore resizeable handle */
.react-grid-layout {
  position: relative;
  transition: height 800ms ease;
}

.react-grid-item .react-resizable-handle {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.react-grid-item:hover .react-resizable-handle {
  opacity: 1;
}

.react-grid-item .react-grid-placeholder {
  background: rgb(125, 125, 125) !important; /* Set background to transparent */
}
.react-grid-item .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 6px !important;
  bottom: 7px !important;
  width: 14px !important;
  height: 14px !important;
  border-radius: 0 0 7800px 0 !important;
  border-right: 2px solid rgba(0, 0, 0, 0.2) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
  /* transform: rotate(45deg) */
}

.react-resizable-handle {
  background-image: none !important;
}

.react-grid-placeholder {
  border-radius: 36px;
  box-shadow:
    inset 0 0 5px 4px rgba(0, 0, 0, 0.2),
    inset 0 5px 4px rgba(0, 0, 0, 0.2);
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top, width, height;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
}
.react-grid-item.cssTransforms {
  transition-property: transform, width, height;
}
.react-grid-item.resizing {
  transition: none;
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 99;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item .react-grid-placeholder {
  background: rgb(151, 151, 151);
  opacity: 0.8;
  transition-duration: 400ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item.react-grid-placeholder.placeholder-resizing {
  transition: 300ms ease-in-out;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
